<h4>Here is your order:</h4>

<p>Order ID: <%= @order.id %></p>
<p>User ID: <%= @order.user_id %></p>
<p>Order Quantity: <%= @order.quantity %></p>
<p>Product: <%= @order.product.name %></p>
<p>Subtotal: <%= number_to_currency(@order.subtotal) %></p>
<p>Tax: <%= number_to_currency(@order.tax) %></p>
<p>Total: <%= number_to_currency(@order.total) %></p>
<p>Email: <%= @order.user.email %></p>
<p>Order Created at: <%= @order.created_at %></p>
<img src=<%= @order.product.images[0].link %> alt="unable to display image" width="100" height="100">



