<h4>Here is your order:</h4>

<p>Order ID: <%= @order.id %></p>
<p>User ID: <%= @order.user_id %></p>
<p>Order Quantity: <%= @order.quantity %></p>
<p>Product: <%= @product.name %></p>
<p>Subtotal: <%= @order.subtotal %></p>
<p>Tax: <%= @order.tax %></p>
<p>Total: <%= @order.total %></p>
<p>Email: <%= User.find_by(id: @order.user_id).email %></p>
<p>Order Created at: <%= @order.created_at %></p>
<img src=<%= @product.images[0].link %> alt="unable to display image" width="100" height="100">



