<h2>Products</h2>

<% @products.each do |product| %>
  <h4><a href="/products/<%= product.id %>"><%= product.name %></a></h4>
  <button type="button" class="btn btn-success">Buy</button>
  <p>price: $<%= product.price %><br>
  description: <%= product.description %></p>
  <img src=<%= product.image %> alt="unable to display image" width="100" height="100">
<% end %>