<h3><%= @product.name %></h3>
<ul><h4>Categories:</h4>
<% @product.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>
</ul>
<p></p>
<button type="button" class="btn btn-success">Buy</button>
<p class=<%=@product.style_message %>>
price: <%= number_to_currency(@product.price) %>
tax: <%= number_to_currency(@product.tax) %>
total: <%= number_to_currency(@product.total) %>
</p>
<p><%= @product.sale_message %></p>
<p>description: <%= @product.description %></p>
<p><%= @product.stock_status %></p>
<p>Supplier: <%= @product.supplier.name %></p>
<% @product.images.each do |image| %>
<img src=<%= image.link %> alt="unable to display image" width="100" height="100">
<% end %>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
<%= submit_tag 'Delete Product' %>
<% end %>

<a href="/images/<%= @product.id %>/new" class="btn btn-info" role="button">Add A Picture</a>

<a href="/products/<%= @product.id %>/edit" class="btn btn-info" role="button">Edit Product</a>

<%= form_tag "/orders", method: :post do %>
  <%= label_tag :quantity %>
  <%= text_field_tag :quantity %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag 'Buy Now!' %>
<% end %>


